{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <h1>{{message}}</h1>
    <h2>Välkommen till min sida :3</h2>
    <p>Klicka <a href="/om">här</a> för att gå till Om-sidan.</p>
    <p>Klicka <a href="/watch">här</a> för att gå till Watch-sidan.</p>
    <p>Klicka <a href="/ytub">här</a> för att gå till ytub-sidan.</p>
</main>
{% endblock %}