{% extends "layout.njk" %}
{% block content %}
<main class="container">
    <h1>Film</h1>
    <p>{{movie.title}}</p>
    <p>{{movie.year}}</p>
    <p>Klicka <a href="/om">här</a>.</p>
</main>
{% endblock %}